In [2]:
import pandas as pd
import numpy as np
from IPython.display import display
pd.set_option('display.max_columns', None)

In [3]:
dfloan = pd.read_csv('2012_to_2014_loans_data.csv')

D:\Work\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (3,4,5,7,8,9,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [132]:
dfloan.head(5)

,Agency_Code,Applicant_Income_000,As_of_Year,Census_Tract_Number,County_Code,FFIEC_Median_Family_Income,Loan_Amount_000,MSA_MD,Number_of_Owner_Occupied_Units,Respondent_ID,Sequence_Number,State_Code,Tract_to_MSA_MD_Income_Pct,MSA_MD_Description,Loan_Purpose_Description,Agency_Code_Description,Lien_Status_Description,Loan_Type_Description,State,County_Name,Conforming_Limit_000,Conventional_Status,Conforming_Status,Conventional_Conforming_Flag
0,3,0084,2012,0207.00,079,00054900,94,16620,00001545,0000000384,390,54,093.07,"CHARLESTON, WV",Refinance,FDIC,First Lien,Conventional,WV,PUTNAM,417.0,Conventional,Conforming,Y
1,3,0084,2012,9556.00,043,00054900,133,16620,00001548,0000000384,422,54,058.00,"CHARLESTON, WV",Refinance,FDIC,First Lien,Conventional,WV,LINCOLN,417.0,Conventional,Conforming,Y
2,3,0053,2012,9556.00,043,00054900,70,16620,00001548,0000000384,425,54,058.00,"CHARLESTON, WV",Refinance,FDIC,First Lien,Conventional,WV,LINCOLN,417.0,Conventional,Conforming,Y
3,3,0085,2012,0206.01,079,00054900,102,16620,00001935,0000000384,432,54,145.21,"CHARLESTON, WV",Refinance,FDIC,First Lien,Conventional,WV,PUTNAM,417.0,Conventional,Conforming,Y
4,3,0038,2012,0107.01,039,00054900,112,16620,00001492,0000000384,478,54,127.96,"CHARLESTON, WV",Purchase,FDIC,First Lien,Conventional,WV,KANAWHA,417.0,Conventional,Conforming,Y

In [4]:
dfinst = pd.read_csv('2012_to_2014_institutions_data.csv')

In [5]:
dfloan.first

<bound method NDFrame.first of          Agency_Code Applicant_Income_000  As_of_Year Census_Tract_Number  \
0                  3                 0084        2012             0207.00
1                  3                 0084        2012             9556.00
2                  3                 0053        2012             9556.00
3                  3                 0085        2012             0206.01
4                  3                 0038        2012             0107.01
5                  3                 0113        2012             0206.05
6                  3                 0091        2012             9555.00
7                  3                 0025        2012             0121.00
8                  3                 0111        2012             0019.02
9                  3                 0070        2012             0206.05
10                 3                 0048        2012             0206.04
11                 3                 0068        2012             0201.00
12                 3                 0071        2012             0203.00
13                 3                 0207        2012             0136.00
14                 3                 0068        2012             0206.03
15                 3                 0110        2012             0107.01
16                 3                 0088        2012             0201.00
17                 3                 0064        2012             0105.00
18                 3                 0123        2012             0206.05
19                 3                 0091        2012             0206.04
20                 3                 0095        2012             0203.00
21                 3                 0060        2012             0134.00
22                 5                 0076        2012             NA
23                 3                 0048        2012             0113.02
24                 3                 0062        2012             0128.00
25                 3                 0025        2012             0101.00
26                 3                 0054        2012             0003.00
27                 3                 0043        2012             0128.00
28                 3                 0064        2012             0019.02
29                 3                 0033        2012             0102.00
...              ...                  ...         ...                 ...
1321128            9                  116        2014             8902.00
1321129            9                   81        2014             0707.00
1321130            9                   82        2014             9801.00
1321131            9                  107        2014             9010.10
1321132            9                   63        2014             0216.00
1321133            9                   30        2014             8505.01
1321134            9                   10        2014             2013.00
1321135            9                   98        2014             0066.02
1321136            9                   19        2014             0454.21
1321137            9                   54        2014             0105.03
1321138            9                   43        2014             0014.00
1321139            9                   68        2014             0101.02
1321140            9                   43        2014             2005.03
1321141            9                   45        2014             0003.00
1321142            9                  121        2014             9302.02
1321143            9                   79        2014             0203.00
1321144            9                   51        2014             8502.00
1321145            9                   55        2014             0105.00
1321146            9                   48        2014             9676.00
1321147            9                   98        2014             0120.00
1321148            9                   91        2014             0210.05
1321149            9                   99        2014             2015.01
1321150            9                   42        2014             0210.12
1321151            9                   56        2014             0135.00
1321152            9                   25        2014             0011.00
1321153            9                   53        2014             0210.00
1321154            9                  106        2014             0200.03
1321155            9                   51        2014             2111.00
1321156            9                   49        2014             4223.01
1321157            9                   45        2014             0025.00

        County_Code FFIEC_Median_Family_Income  Loan_Amount_000 MSA_MD  \
0               079                   00054900               94  16620
1               043                   00054900              133  16620
2               043                   00054900               70  16620
3               079                   00054900              102  16620
4               039                   00054900              112  16620
5               079                   00054900              133  16620
6               043                   00054900              192  16620
7               039                   00054900               36  16620
8               039                   00054900              191  16620
9               079                   00054900              110  16620
10              079                   00054900              264  16620
11              079                   00054900               80  16620
12              079                   00054900              158  16620
13              039                   00054900              194  16620
14              079                   00054900              128  16620
15              039                   00054900              120  16620
16              079                   00054900              165  16620
17              039                   00054900              110  16620
18              079                   00054900              142  16620
19              079                   00054900              245  16620
20              079                   00054900              168  16620
21              039                   00054900               65  16620
22              043                   NA                     67  16620
23              039                   00054900              130  16620
24              039                   00054900              114  16620
25              039                   00054900               64  16620
26              039                   00054900              115  16620
27              039                   00054900              177  16620
28              039                   00054900              118  16620
29              039                   00054900               89  16620
...             ...                        ...              ...    ...
1321128         595                   00052000            35087  NA
1321129         760                   00076400            24545  40060
1321130         053                   00076400            24761  40060
1321131         153                   00107100            32300  47894
1321132         049                   00047100            19125  NA
1321133         149                   00076400            92712  40060
1321134         510                   00107100            31884  47894
1321135         710                   00072200            29641  47260
1321136         810                   00072200            57332  47260
1321137         179                   00107100            16388  47894
1321138         055                   00047100            13150  NA
1321139         750                   00060100            20462  13980
1321140         087                   00076400            12930  40060
1321141         107                   00054600            13583  37620
1321142         047                   00107100            36423  47894
1321143         185                   00052000            23912  NA
1321144         149                   00076400            15337  40060
1321145         039                   00057500            16758  16620
1321146         041                   00047100            14687  NA
1321147         165                   00059300            29584  25500
1321148         550                   00072200            27529  47260
1321149         087                   00076400            29999  40060
1321150         550                   00072200            12648  47260
1321151         039                   00057500            16825  16620
1321152         039                   00057500            76863  16620
1321153         019                   00049900            16036  13220
1321154         550                   00072200            31920  47260
1321155         740                   00072200            15471  47260
1321156         059                   00107100            14752  47894
1321157         710                   00072200            13719  47260

        Number_of_Owner_Occupied_Units Respondent_ID  Sequence_Number  \
0                             00001545    0000000384              390
1                             00001548    0000000384              422
2                             00001548    0000000384              425
3                             00001935    0000000384              432
4                             00001492    0000000384              478
5                             00002493    0000000384              486
6                             00001173    0000000384              522
7                             00001361    0000000384              567
8                             00001552    0000000384              599
9                             00002493    0000000384              624
10                            00000715    0000000384              626
11                            00001625    0000000384              628
12                            00001381    0000000384              657
13                            00001262    0000000384              663
14                            00002198    0000000384              683
15                            00001492    0000000384              692
16                            00001625    0000000384              719
17                            00001483    0000000384              744
18                            00002493    0000000384              767
19                            00000715    0000000384              770
20                            00001381    0000000384              784
21                            00000470    0000000384              814
22                            NA          0000000785               73
23                            00001686    0000000803             1941
24                            00001516    0000000803             1945
25                            00000969    0000000803             1946
26                            00001162    0000000803             1948
27                            00001516    0000000803             1956
28                            00001552    0000000803             1959
29                            00000770    0000000803             1960
...                                ...           ...              ...
1321128                       00000636    9731400737              270
1321129                       00000951    9731400737              271
1321130                       NA          9731400737              272
1321131                       00001195    9731400737              273
1321132                       00001530    9731400737              274
1321133                       00001777    9731400737              275
1321134                       00000947    9731400737              276
1321135                       00000902    9731400737              277
1321136                       00001004    9731400737              278
1321137                       00000599    9731400737              279
1321138                       00000615    9731400737              280
1321139                       00000347    9731400737              281
1321140                       00001170    9731400737              282
1321141                       00000769    9731400737              283
1321142                       00001776    9731400737              284
1321143                       00002007    9731400737              285
1321144                       00000049    9731400737              286
1321145                       00001483    9731400737              287
1321146                       00000954    9731400737              288
1321147                       00001487    9731400737              289
1321148                       00001264    9731400737              290
1321149                       00002700    9731400737              291
1321150                       00001968    9731400737              292
1321151                       00000944    9731400737              293
1321152                       00001582    9731400737              294
1321153                       00001056    9731400737              295
1321154                       00001363    9731400737              296
1321155                       00000182    9731400737              297
1321156                       00000703    9731400737              298
1321157                       00000283    9731400737              299

         State_Code Tract_to_MSA_MD_Income_Pct  \
0                54                     093.07
1                54                     058.00
2                54                     058.00
3                54                     145.21
4                54                     127.96
5                54                     172.07
6                54                     070.24
7                54                     070.19
8                54                     245.99
9                54                     172.07
10               54                     141.70
11               54                     080.63
12               54                     156.46
13               54                     110.55
14               54                     115.99
15               54                     127.96
16               54                     080.63
17               54                     114.18
18               54                     172.07
19               54                     141.70
20               54                     156.46
21               54                     075.52
22               54                     NA
23               54                     115.86
24               54                     142.37
25               54                     102.51
26               54                     107.84
27               54                     142.37
28               54                     245.99
29               54                     100.16
...             ...                        ...
1321128          51                        NaN
1321129          51                        NaN
1321130          51                        NaN
1321131          51                        NaN
1321132          54                        NaN
1321133          51                        NaN
1321134          51                        NaN
1321135          51                        NaN
1321136          51                        NaN
1321137          51                        NaN
1321138          54                        NaN
1321139          51                        NaN
1321140          51                        NaN
1321141          54                        NaN
1321142          51                        NaN
1321143          51                        NaN
1321144          51                        NaN
1321145          54                        NaN
1321146          54                        NaN
1321147          51                        NaN
1321148          51                        NaN
1321149          51                        NaN
1321150          51                        NaN
1321151          54                        NaN
1321152          54                        NaN
1321153          54                        NaN
1321154          51                        NaN
1321155          51                        NaN
1321156          51                        NaN
1321157          51                        NaN

                                   MSA_MD_Description  \
0                                      CHARLESTON, WV
1                                      CHARLESTON, WV
2                                      CHARLESTON, WV
3                                      CHARLESTON, WV
4                                      CHARLESTON, WV
5                                      CHARLESTON, WV
6                                      CHARLESTON, WV
7                                      CHARLESTON, WV
8                                      CHARLESTON, WV
9                                      CHARLESTON, WV
10                                     CHARLESTON, WV
11                                     CHARLESTON, WV
12                                     CHARLESTON, WV
13                                     CHARLESTON, WV
14                                     CHARLESTON, WV
15                                     CHARLESTON, WV
16                                     CHARLESTON, WV
17                                     CHARLESTON, WV
18                                     CHARLESTON, WV
19                                     CHARLESTON, WV
20                                     CHARLESTON, WV
21                                     CHARLESTON, WV
22                                     CHARLESTON, WV
23                                     CHARLESTON, WV
24                                     CHARLESTON, WV
25                                     CHARLESTON, WV
26                                     CHARLESTON, WV
27                                     CHARLESTON, WV
28                                     CHARLESTON, WV
29                                     CHARLESTON, WV
...                                               ...
1321128                                           NaN
1321129                                  RICHMOND, VA
1321130                                  RICHMOND, VA
1321131  WASHINGTON-ARLINGTON-ALEXANDRIA, DC-VA-MD-WV
1321132                                           NaN
1321133                                  RICHMOND, VA
1321134  WASHINGTON-ARLINGTON-ALEXANDRIA, DC-VA-MD-WV
1321135    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321136    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321137  WASHINGTON-ARLINGTON-ALEXANDRIA, DC-VA-MD-WV
1321138                                           NaN
1321139         BLACKSBURG-CHRISTIANSBURG-RADFORD, VA
1321140                                  RICHMOND, VA
1321141                        PARKERSBURG-VIENNA, WV
1321142  WASHINGTON-ARLINGTON-ALEXANDRIA, DC-VA-MD-WV
1321143                                           NaN
1321144                                  RICHMOND, VA
1321145                                CHARLESTON, WV
1321146                                           NaN
1321147                              HARRISONBURG, VA
1321148    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321149                                  RICHMOND, VA
1321150    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321151                                CHARLESTON, WV
1321152                                CHARLESTON, WV
1321153                                   BECKLEY, WV
1321154    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321155    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC
1321156  WASHINGTON-ARLINGTON-ALEXANDRIA, DC-VA-MD-WV
1321157    VIRGINIA BEACH-NORFOLK-NEWPORT NEWS, VA-NC

        Loan_Purpose_Description Agency_Code_Description  \
0                      Refinance                    FDIC
1                      Refinance                    FDIC
2                      Refinance                    FDIC
3                      Refinance                    FDIC
4                       Purchase                    FDIC

In [7]:
dfloan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1321158 entries, 0 to 1321157
Data columns (total 24 columns):
Agency_Code                       1321158 non-null int64
Applicant_Income_000              1321158 non-null object
As_of_Year                        1321158 non-null int64
Census_Tract_Number               1321158 non-null object
County_Code                       1321158 non-null object
FFIEC_Median_Family_Income        1321158 non-null object
Loan_Amount_000                   1321158 non-null int64
MSA_MD                            1321158 non-null object
Number_of_Owner_Occupied_Units    1321158 non-null object
Respondent_ID                     1321158 non-null object
Sequence_Number                   1321158 non-null int64
State_Code                        1321158 non-null int64
Tract_to_MSA_MD_Income_Pct        1320258 non-null object
MSA_MD_Description                1225941 non-null object
Loan_Purpose_Description          1321158 non-null object
Agency_Code_Description           1321158 non-null object
Lien_Status_Description           1321158 non-null object
Loan_Type_Description             1321158 non-null object
State                             1321158 non-null object
County_Name                       1320321 non-null object
Conforming_Limit_000              1320321 non-null float64
Conventional_Status               1321158 non-null object
Conforming_Status                 1321158 non-null object
Conventional_Conforming_Flag      1321158 non-null object
dtypes: float64(1), int64(5), object(18)
memory usage: 241.9+ MB

In [8]:
dfinst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21655 entries, 0 to 21654
Data columns (total 12 columns):
As_of_Year             21655 non-null int64
Respondent_ID          21655 non-null object
Agency_Code            21655 non-null int64
Respondent_Name_TS     21655 non-null object
Respondent_City_TS     21655 non-null object
Respondent_State_TS    21655 non-null object
Respondent_ZIP_Code    21655 non-null object
Parent_Name_TS         5458 non-null object
Parent_City_TS         5455 non-null object
Parent_State_TS        5486 non-null object
Parent_ZIP_Code        5477 non-null object
Assets_000_Panel       21655 non-null int64
dtypes: int64(3), object(9)
memory usage: 2.0+ MB

In [77]:
dfinst['Parent_Name_TS'].value_counts()

WELLS FARGO BANK, N.A.            70
WINTRUST FINANCIAL CORPORATION    35
ZIONS BANCORPORATION              23
FULTON FINANCIAL CORPORATION      15
HEARTLAND FINANCIAL USA, INC      15
BREMER FINANCIAL CORPORATION      13
COMMUNITY BANCSHARES              13
CAPITOL BANCORP LIMITED           11
SOUTH CENTRAL BANCSHARES OF KY    10
INTERNATIONAL BANCSHARES CORP.     9
FIFTH THIRD BANCORP                9
UNIVERSITY BANK                    9
M&T BANK CORPORATION               9
SIMMONS FIRST NATIONAL CORP        9
AMES NATIONAL CORPORATION          9
FARMERS & MERCHANTS BANCORP        9
FIRST NATIONAL BANK                8
FIRST STATE BANK                   8
TOWNEBANK                          8
BB&T CORPORATION                   8
MINNWEST CORPORATION               8
PERSONS BANKING COMPANY            7
PHH HOME LOANS, LLC                7
215 HOLDING COMPANY                7
VALLEY VIEW BANCSHARES             7
HEARTLAND FINANCIAL                7
BEACH COMMUNITY BANK               6
UNITED BANCORPORATION              6
EMIGRANT BANK                      6
BANCWEST CORPORATION               6
                                  ..
AMERICAN HERITAGE FCU              1
MORRILL BANCSHARES                 1
STAR CITY BANCSHARES INC           1
HCCU                               1
CITIZENS FINANCIAL BANK            1
SUMMIT BANCSHARES, INC.            1
FNBH CORPORATION                   1
PORTAGE BANCSHARES                 1
AMBANK HOLDING, INC                1
CHOICE BANCORP, INC                1
TEACHERS CREDIT UNION              1
SMARTFINANCIAL, INC.               1
PEOPLESSOUTH BANCSHARES, INC       1
EXCHANGE BANK SHARES INC           1
CORNERSTONE BANCSHARES INC         1
BANK OF LUXEMBURG                  1
DIRECTORS MORTGAGE INC.            1
AMERICA'S CREDIT UNION             1
COAST NATIONAL BANCORP             1
INTEGRITY MORTGAGE CORP OF TEX     1
FIRST PRIORITY CREDIT UNION        1
FNB BANCORP. INC.                  1
LISLE SAVINGS BANK                 1
STATE INVESTORS BANK               1
KEYSTONE BANK                      1
ROMA BANK                          1
1ST COMMUNITY BANK                 1
EAGLE NATIONAL BANCORP, INC        1
1ST JACKSON BANCSHARES INC         1
AMERICAN BANCOR LTD.               1
Name: Parent_Name_TS, dtype: int64

In [48]:
dfinst['Respondent_Name_TS'].value_counts()

FIRST NATIONAL BANK               99
FIRST STATE BANK                  71
CITIZENS STATE BANK               48
COMMUNITY BANK                    44
CITIZENS BANK                     43
FARMERS STATE BANK                38
SECURITY STATE BANK               38
FIRST COMMUNITY BANK              34
PEOPLES BANK                      31
FIRST BANK                        29
COMMUNITY FIRST BANK              26
HERITAGE BANK                     26
CITIZENS NATIONAL BANK            25
COMMUNITY NATIONAL BANK           25
COOPERATIVA DE AHORRO Y CREDIT    22
FARMERS & MERCHANTS BANK          21
THE PEOPLES BANK                  21
FIRST FEDERAL SAVINGS BANK        20
ALLIANCE BANK                     19
LIBERTY BANK                      19
PINNACLE BANK                     18
FIRST FEDERAL BANK                17
CENTRAL BANK                      17
UNITED BANK                       17
CORNERSTONE BANK                  16
FARMERS AND MERCHANTS BANK        16
FIRST SECURITY BANK               16
PIONEER BANK                      15
SECURITY BANK                     15
FIRST COMMUNITY CREDIT UNION      15
                                  ..
ROEBLING BK                        1
THE FIRST SECURITY BANK            1
BANKASIANA                         1
EAGLE LA FCU                       1
KS BANK                            1
JOHNSONVILLE TVA EMPLOYEES CU      1
UNIV OF ILLINOIS EMPLOYEES CU      1
SCHOOL EMPL CU OF WA               1
MPCU                               1
CAPAHA BANK                        1
METROWEST COMMUNITY                1
DEBORAH PEETZ                      1
POLICEMEN'S FEDERAL CREDIT UN      1
FIRSTSHORE FEDERAL S&L ASSOC       1
CENTRAL STAR FINANCIAL SOL LLC     1
NEW RESOURCE BANK                  1
FIRST PEOPLES BANK OF TN           1
BANK SNB                           1
FAIRWAY INDEPENDENT MORT. CORP     1
EDUCATIONAL SYSTEMS FCU            1
THE COCA-COLA COMPANY FA FCU       1
PRIMELENDING VENTURES LLC          1
WATERFORD COMMERCIAL & SAVINGS     1
SANFORD INSTITUTION FOR SAVING     1
CITIZENS S & L  ASSOC FSB          1
HERITAGE BANK & TRUST              1
GIBRALTAR MORTGAGE, LLC            1
GREEN COUNTRY FEDERAL CR UN.       1
NORTH CASCADES BANK                1
FIRST COMMERCIAL BANIK, N.A.       1
Name: Respondent_Name_TS, dtype: int64

In [46]:
len(dfinst.groupby(['As_of_Year', 'Respondent_ID', 'Agency_Code']))

21655

In [1]:
dfinst.loc[dfinst['Respondent_ID']=='0000003601'].dtype

NameError: name 'dfinst' is not defined

In [75]:
dfinst[dfinst['Parent_Name_TS'].isnull()].apply(pd.Series.nunique)

As_of_Year                 3
Respondent_ID           6258
Agency_Code                6
Respondent_Name_TS      6948
Respondent_City_TS      2800
Respondent_State_TS       52
Respondent_ZIP_Code     5445
Parent_Name_TS             0
Parent_City_TS             4
Parent_State_TS           19
Parent_ZIP_Code           15
Assets_000_Panel       14198
dtype: int64

In [72]:
dfinst[dfinst['Parent_Name_TS'].isnull()]['Parent_City_TS'].value_counts()

SPOKANE      2
COLUMBIA     1
SAN JUAN     1
LAFAYETTE    1
Name: Parent_City_TS, dtype: int64

In [69]:
dfinst.apply(pd.Series.nunique)

As_of_Year                 3
Respondent_ID           7914
Agency_Code                6
Respondent_Name_TS      8740
Respondent_City_TS      3281
Respondent_State_TS       52
Respondent_ZIP_Code     6615
Parent_Name_TS          2945
Parent_City_TS          1447
Parent_State_TS           52
Parent_ZIP_Code         2222
Assets_000_Panel       18942
dtype: int64

In [129]:
pnames = dfinst[dfinst['Parent_Name_TS'].notnull()]['Parent_Name_TS'].unique()
print(len(pnames))
rnames = dfinst['Respondent_Name_TS'].unique()
print(len(rnames))
allnames = np.concatenate((pnames,rnames), axis=0)
print(len(allnames))
uniall = np.unique(allnames)
print(len(uniall))
for name in np.sort(uniall)[1:50]:
  print(name)

2945
8740
11685
11077
1-800-EAST/WEST MORTGAGE CO.
1150 PURCHASE STREET
1199 SEIU FEDERAL CREDIT UNION
121 FINANCIAL CREDIT UNION
167TH TFR FEDERAL CREDIT UNION
1867 WESTERN FINANCIAL CORP.
1889 BANCORP MHC
1ST 2ND MORTGAGE CO. OF NJ INC
1ST ADVANTAGE BANCSHARES
1ST ADVANTAGE BANK
1ST ADVANTAGE FCU
1ST ADVANTAGE FEDERAL CREDIT
1ST ADVANTAGE MORTGAGE
1ST ALLIANCE LENDING, LLC
1ST BANK
1ST BANK OF SEA ISLE CITY
1ST BANK YUMA
1ST BANK, N.A.
1ST CAMERON STATE BANK
1ST CAPITAL BANK
1ST CENTURY BANCSHARES
1ST CENTURY BANK N.A.
1ST CENTURY BANK, N.A.
1ST COLONIAL BANCORP INC
1ST COLONIAL COMMUNITY  BANK
1ST COLONIAL COMMUNITY BANK
1ST COMMUNITY BANK
1ST COMMUNITY CREDIT UNION
1ST COMMUNITY FCU
1ST CONSTITUTION BANCORP
1ST CONSTITUTION BANK
1ST CREDIT UNION OF GAINESVILL
1ST ENTERPRISE BANK
1ST EQUITY BANK
1ST EQUITY BANK NORTHWEST
1ST FARMERS &  MERCHANTS BANK
1ST FARMERS & MERCHANTS BANK
1ST FARMERS & MERCHANTS CORP
1ST FINANCIAL BANK USA
1ST FINANCIAL SERVICES INC.
1ST FINANCIAL SERVICES, INC.
1ST ILLINOIS BANCORP INC.
1ST JACKSON BANCSHARES INC
1ST LIBERTY FEDERAL CREDIT UNI
1ST MANATEE BANK
1ST MARINER BANCORP
1ST MARINER BANK
1ST MIDAMERICA CREDIT UNION
1ST NAT'L BANK OF THE ROCKIES

In [112]:
[1,2,3][1:2]

[2]

In [84]:
len(dfinst[dfinst['Respondent_Name_TS'].notnull()]['Respondent_Name_TS'].unique())

8740

In [108]:
print(np.unique(np.concatenate((dfinst[dfinst['Parent_Name_TS'].notnull()]['Parent_Name_TS'].unique(), dfinst[dfinst['Respondent_Name_TS'].notnull()]['Respondent_Name_TS'].unique()), axis=0))[1..10])

SyntaxError: invalid syntax (<ipython-input-108-1218fb0c615a>, line 1)

In [101]:
np.unique([1,2,3,3])

array([1, 2, 3])

In [10]:
dfloan.head(1)

,Agency_Code,Applicant_Income_000,As_of_Year,Census_Tract_Number,County_Code,FFIEC_Median_Family_Income,Loan_Amount_000,MSA_MD,Number_of_Owner_Occupied_Units,Respondent_ID,Sequence_Number,State_Code,Tract_to_MSA_MD_Income_Pct,MSA_MD_Description,Loan_Purpose_Description,Agency_Code_Description,Lien_Status_Description,Loan_Type_Description,State,County_Name,Conforming_Limit_000,Conventional_Status,Conforming_Status,Conventional_Conforming_Flag
0,3,0084,2012,0207.00,079,00054900,94,16620,00001545,0000000384,390,54,093.07,"CHARLESTON, WV",Refinance,FDIC,First Lien,Conventional,WV,PUTNAM,417.0,Conventional,Conforming,Y

In [28]:
dfloan['Loan_Amount_000'].value_counts()

417      22969
200       9689
150       7737
300       7343
250       7314
100       7194
180       6371
626       6342
160       6337
400       6062
240       5931
140       5672
260       5565
220       5497
175       5419
190       5417
280       5398
170       5350
225       5303
230       5190
120       5141
130       5024
125       4947
245       4883
255       4808
165       4761
270       4758
135       4755
172       4710
210       4708
         ...
13857        1
25130        1
1555         1
1572         1
91704        1
38407        1
1557         1
11795        1
59914        1
18974        1
1559         1
14878        1
35339        1
22032        1
26134        1
16915        1
12826        1
86582        1
32273        1
11802        1
40499        1
29231        1
1569         1
16938        1
39473        1
21033        1
9767         1
32300        1
40496        1
10245        1
Name: Loan_Amount_000, dtype: int64

In [30]:
dfloan['Respondent_ID'].describe()

count        1321158
unique          1683
top       0000451965
freq          119016
Name: Respondent_ID, dtype: object